.pricing-top-section {
    color: #242424;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .text-top {
    font-size: 18px;
    line-height: 32px;
    width:800px; 
    text-align:center;
  }

  .color-black {
    color: #232f3e;
  }

  .pricing-body {
    color: #242424;
    padding-bottom: 100px;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 991px) {
    .text-top.color-black {
      padding-right: 30px;
      padding-left: 30px;
      max-width: 100%;
      flex-basis: 100%;
    }
  }