.doc-top-section {
    color: #242424;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .text-top {
    font-size: 18px;
    line-height: 32px;
    width:800px; 
    text-align:center;
  }

  .color-black {
    color: #232f3e;
  }

  .doc-body {
    color: #242424;
    padding-bottom: 50px;
    display: flex;

    margin: 20px 200px 20px 200px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .guide-section {
    margin-bottom: 20px;
  }

  .section-title {
    margin-bottom: 5px;
    width: 100%
  }

  .section-body {
    margin-left: 10px;
    margin-bottom: 5px;
    width: 100%
  }



@media screen and (max-width: 991px) {
    .heading  {
        text-align:center;
    }

    .doc-body {
        align-items: center;
        margin: 20px 20px 20px 20px;
    }

    .guide-section {
        width: 100%;
        flex-basis: 100%;
    }
}